:root {
  --primary: #3c79f5;
  --bg: #f2deba;
  --br: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(83, 138, 214, 1) 0%,
    rgba(134, 231, 214, 1) 90%
  );
  --mr: #3617be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: rgba(242, 222, 186, 0.906);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

/*navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0, 8);
  border-bottom: 1px solid #97612a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--bg);
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 1rem;
  font-weight: 800;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/*hero section*/

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/helena_800.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(16, 226, 233) 10%,
    rgba(15, 212, 226, 0) 30%
  );
}

.hero .content {
  padding: 10px 20px;
  margin-left: 100px;
  max-width: 100rem;
}

.hero .content h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 3px 3px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.3;
  text-align: center;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  line-height: 1.4 rem;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  display: inline-block;
  padding: 1rem 3rem;
  margin-top: 5rem;
  margin-left: 40px;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0, 5);
}

/*aboutsection*/
.about,
.contact {
  padding: 10rem 7% 1.4rem;
  min-height: 50vh;
  background-color: #eaeaea;
  background-size: 200%;
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(83, 138, 214, 1) 0%,
    rgba(134, 231, 214, 1) 90%
  );
  animation: gradient-animation 5s infinite alternate;
  position: relative;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5rem;
  width: 500px;
  height: 70px;
  background-color: var(--mr);
  margin: 0.5rem 1rem;
  margin-left: 30rem;
  transition: 1s;
}

.about h2:hover,
menu h2:hover {
  transform: scaleX(1.5);
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--bg);
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  justify-content: center;
  word-spacing: 5px;
  border-spacing: 5rem;
}

.about .row .content img {
  width: 150x;
  height: 100px;
  border-radius: 50%;
  transition: 1s;
  align-items: center;
  position: relative;
  left: 60px;
}

.about .row .content img:hover {
  transform: scaleX(1.5);
}

.about .row .content h3 {
  font-size: 20px;
  color: var(--bg);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  padding: 0px -100px;
  position: relative;
  margin: 2rem 3rem;
}

.about .row .content h3:hover {
  color: var(--primary);
}

/*menu section*/
.menu p,
.contact p {
  text-align: center;
  max-width: 100rem;
  margin: auto;
  font-weight: 400;
  line-height: 5rem;
  display: flex;
  text-align: justify;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.menu {
  padding: 10rem 7% 1.4rem;
  min-height: 50vh;
  background-color: #eaeaea;
  background-size: 200%;
  background-image: url("../img/back.gif");
  animation: gradient-animation 5s infinite alternate;

  position: relative;
}
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.menu .row .menu-card h3 {
  font-size: 32px;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 30%;
  height: 50%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 1.5rem;
}

.menu .row .menu-card .menu-card-price {
  text-align: center;
  margin-left: 28rem;
  font-weight: 400;
}
/*materi*/

.c {
  padding: 10rem 7% 1.4rem;
  min-height: 50vh;
  background-color: #eaeaea;
  background-size: 200%;
  background-image: linear-gradient(
    132.6deg,
    rgba(71, 139, 214, 1) 23.3%,
    rgba(37, 216, 211, 1) 84.7%
  );
  animation: gradient-animation 2s infinite alternate;
  position: relative;
}

.c .c1 {
  padding: 10rem 7% 1.4rem;
  min-height: 50vh;
  background-color: #eaeaea;
  background-size: 200%;
  background-image: url("../img/rmpt.png");
  animation: gradient-animation 5s infinite alternate;
  position: relative;
  margin: 20px 180px;
  width: 70%;
  display: flex;
  height: 50%;
}

.c .c1 p {
  font-family: "poppins";
  font-weight: bold;
  text-align: center;
  font-size: 37px;
  color: var(--bg);
  -webkit-text-stroke: 1px var(--primary);
  text-shadow: 10px 10px 30px rgba(1, 1, 3, 0.5);
}

.c .c1 .c2 {
  padding: 10rem 7% 1.4rem;
  min-height: 50vh;
  display: flex;
}

.c .c6 {
  display: flex;
  margin-left: 10rem;
}

.c .c2 img {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.c .c2 img:hover {
  transform: scaleX(1.1);
}

.c .c2 p {
  font-size: 24px;
  font-family: "poppins";
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 4rem;
}

.c .c2 p:hover {
  color: var(--bg);
}

/*contact section*/

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #322;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #fff;
  padding: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/*MATERI PROSESOR*/
.prosesor {
  min-height: 30vh;
  display: flex;
  align-items: center;
  background-image: url("../img/prosesor.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 10px;
  margin-top: 30px;
}

.prosesor .mtr p {
  font-size: 46px;
  font-family: "poppins";
  font-weight: 800;
  color: var(--bg);
  -webkit-text-stroke: 3px #322;
  position: relative;
  margin-left: 50px;
}

.mtr2 {
  color: var(--bg);
  display: flex;
  flex-wrap: wrap;
}

.mtr2 img {
 width: 20%;
 height: 10%;
 margin: 20px 100px; 
}
.mtr2 p {
  font-size: 45px;
  font-family: 'poppins';
  font-weight: 900;
  color: var(--mr);
  margin: 10px 20px;
  margin-top: 100px;

}

.mtr3 {
  padding: 10px 20px;
}

.mtr3 p {
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  text-align: justify;
  color: var(--primary);
-webkit-text-stroke:1px #97612a;
}

.mtr4 {
  padding: 30px 20px;
  text-align: center;
  font-size: 40px;
color: var(--primary);
font-weight: 800;
font-family: Arial, Helvetica, sans-serif;
-webkit-text-stroke: 1px #322;
}

/*tabel*/

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 20px 30px;
}

.container .card {
  flex: 1 0 20rem;
  background: #fff;
  box-shadow: 0 5px 5px rgb(224, 87, 24,.5);
}

.card img {
  width: 100%;
}

.card .conect {
  padding: 15px;
}

.card .conect h1 {
  margin-bottom: 10px;
  color: #97612a;
}


.card .conect p{
  text-align: justify;
  color: var(--primary);
  display: -webkit-box;
  -webkit-line-clamp: 20; /*lines you want to show*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
  font-weight: 600;
}

.gbr {
  margin: 70px 20px;
}
.gbr img {
  width: 70%;
  height: 70%;
  margin-left: 170px;
}

.gbr p {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 70px;
  color: var(--mr);
}

/*materi jenis jenis*/

.arsi {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px ;
  background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
  animation: gradient-animation 5s infinite alternate;
  position: relative;
}

.arsi p {
  font-family: 'poppins';
  font-size: 32px;
  font-weight: 800;
  color: var(--primary);
  text-shadow: 1px 2px 5px #322;
  margin: 100px 20px ;
}

.arsi img{
  width: 40%;
}

.arsi1 {
  margin-top:0;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px ;
  background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
  animation: gradient-animation 5s infinite alternate;
  position: relative;
}

.arsi1 p{
  font-family: 'calibri';
  font-size: 24px;
  font-weight: 600;
  color: var(--primary);
  text-align: justify;
  padding: 10px 10px ;
}
/*ppt*/
.pptt{
  margin:20px 10px;
  padding: 50px 10px ;
}

.pp {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(239,166,76,1) 0%, rgba(245,184,184,1) 100.2% );
  animation: gradient-animation 1s infinite alternate;
}

.pp .pptt .tpp {
  width:960px;
  height: 526px;

}

/*video*/
.vdo {
  margin: 10px 20px;
  padding-top: 70px;
}


.vdo .vido .yt {
  height: 520px;
  width: 980px;
}

/*kembali*/
.back {
  margin-left: 600px;
}

.back p {
  color: #97612a;
  background-color: #eaeaea;
  width: 20%;
  font-size: 32px;
  font-weight: 800;
  font-family: "poppins";
}
.back p:hover {
  color: var(--mr);
  background-color: #fff;
}

.back1 {
  margin-left: 600px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.back1 p {
  color: var(--mr);
  background-color: #eaeaea;
  width: 20%;
  font-size: 32px;
  font-weight: 800;
  font-family: "poppins";
}
.back1 p:hover {
  color: #322;
  background-color: var(--bg);
}


/*footer*/
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0.3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0rem;
  color: #fff;
}

footer .social {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/*key frame materi*/
@keyframes gradient-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
/*media queries*/

/*laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 65%;
  }
}
/*tablet*/
@media (max-width: 758px) {
  html {
    font-size: 50%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform-origin: scaleX (0.2);
  }


  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .arsi img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }


  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin: 1rem;
    font: 2rem;
  }

  .about .row .content p {
    font-size: 1.5rem;
  }

  .mtr2 img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
    width: 50%;
    height: 50%;
    margin: 30px 40px;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .back1, .back {
    margin-left: 1.2rem;
  }
  
  .pp .pptt .tpp {
    width: 380px;
    height: 180px;
  }

  .vdo .vido .yt {
    width: 420px;
    height: 240px;
  }
}
/*handphone*/

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .back {
    margin-right: 50rem;
  }
}
